In [20]:
import pandas as pd
import numpy as np

In [10]:
data = pd.read_csv('data/titanic.csv', index_col='PassengerId')

In [15]:
# data['Pclass']
data[:10]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C

In [29]:
# Если ответом является нецелое число, то целую и дробную часть необходимо разграничивать точкой, например, 0.42. 
# При необходимости округляйте дробную часть до двух знаков.
# Ответ на каждое задание — текстовый файл, содержащий ответ в первой строчке. 
# Обратите внимание, что отправляемые файлы не должны содержать пустую строку в конце. 
# Данный нюанс является ограничением платформы Coursera. Мы работаем над тем, чтобы убрать это ограничение

## Male / Female counts

In [19]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [28]:
np.nonzero(data['Sex'] == 'male')[0].size

577

## Survived %

In [46]:
100. * data['Survived'].value_counts()[1] / data.shape[0]

38.38383838383838

## First Class %

In [53]:
1. * data['Pclass'].value_counts()[1] / data.shape[0]

0.24242424242424243

## Ages

In [59]:
data['Age'].mean()

29.69911764705882

In [61]:
data['Age'].median()

28.0

## Siblings / parents corellation

In [62]:
data.corr()

          Survived    Pclass       Age     SibSp     Parch      Fare
Survived  1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307
Pclass   -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500
Age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
SibSp    -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651
Parch     0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225
Fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000

## Woman name

In [75]:
import re

In [86]:
names = data[data['Sex'] == 'female'].Name

In [112]:
def woman_name_formatter(name):
    parts = name.split(', ')
    if len(parts) == 2:
        name = parts[1]
        if name.startswith('Mrs.'):
            name = name[name.find('(') + 1 : name.find(')')]
        else:
            name = name.replace('Miss. ', '')
    return name

In [114]:
data['WN'] = names.apply(woman_name_formatter)

In [117]:
data['WN'].value_counts()

Mary                                         7
Bertha                                       4
Anna                                         4
Anna Sofia                                   3
Alice                                        2
Kate                                         2
Marija                                       2
Hanora "Nora"                                2
Elizabeth                                    2
Katherine "Katie"                            2
Lucile Polk                                  2
Ellen "Nellie"                               2
Jessie Wills                                 1
Dr. Alice (Farnham)                          1
Aloisia                                      1
Imanita Parrish Hall                         1
Maria ("Mary")                               1
Anna Sigrid Maria Brogren                    1
Johanna Persdotter Larsson                   1
Mary Conover                                 1
Ida Sophia Fischer                           1
Eleanor Ileen                                1
Amy Zillah Elsie                             1
Mlle. Berthe Antonine ("Mrs de Villiers")    1
Albina                                       1
Mathilde                                     1
Rosa                                         1
Brigdet Delia                                1
Emily Borie                                  1
Mrs. Florence "Fannie                        1
                                            ..
Phyllis May                                  1
Leah Rosen                                   1
Elizabeth Ramell                             1
Mlle. Emma                                   1
(Marion Ogden)                               1
Mary Hitchcock                               1
Julie Rachel                                 1
Lutie Davis                                  1
Catherine David                              1
Elizabeth Anne Wilkinson                     1
Lillian Amy                                  1
Marjorie                                     1
Lily Alexenia Wilson                         1
Margaret Edith                               1
Mabel Helen                                  1
Nourelain                                    1
Edith Junkins                                1
Augusta Charlotta                            1
Helen Loraine                                1
Edwiga Grabowska                             1
Daisy E                                      1
Mrs. Fatim                                   1
Jeannie                                      1
Elisabeth Walton                             1
Alice Adelaide Slow                          1
Ann Elizabeth                                1
Annie Clemmer                                1
Maria Elias                                  1
Augusta Tyler                                1
Annie Jessie "Nina"                          1
Name: WN, dtype: int64