In [1]:
import numpy as np
import pandas as pd
from sklearn.cross_validation import KFold, cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import scale

## Read data

In [2]:
data = pd.read_csv('data/wine.data', names = ['wine_type', 'alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium', 'total_phenols', 'flavanoids', 'nonflavanoid_phenols', 'proanthocyanins', 'color_intensity', 'hue', 'od_of_diluted_wines', 'proline'], index_col=False)
data.head()

,wine_type,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od_of_diluted_wines,proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [3]:
y = data.loc[:, 'wine_type']
y.describe()

count    178.000000
mean       1.938202
std        0.775035
min        1.000000
25%        1.000000
50%        2.000000
75%        3.000000
max        3.000000
Name: wine_type, dtype: float64

In [4]:
X = data.drop('wine_type', axis = 1)
X.describe()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od_of_diluted_wines,proline
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

## Run kNN wo/ normalization

In [5]:
validator = KFold(y.size, n_folds = 5, shuffle = True, random_state = 42)

In [6]:
scores = []
for n in xrange(1, 51):
    classifier = KNeighborsClassifier(n_neighbors = n)
    classifier.fit(X, y) 
    scores.append((n, cross_val_score(classifier, X, y, cv = validator).mean()))

In [7]:
sorted(scores, key=lambda score: -score[1])[0]

(1, 0.7304761904761905)

## Run kNN w/ normalization

In [8]:
X2 = scale(X)

In [9]:
scores = []
for n in xrange(1, 51):
    classifier = KNeighborsClassifier(n_neighbors = n)
    classifier.fit(X2, y) 
    scores.append((n, cross_val_score(classifier, X2, y = y, cv = validator).mean()))

In [10]:
sorted(scores, key=lambda score: -score[1])[0]

(29, 0.9776190476190475)

## Predict one

In [11]:
classifier = KNeighborsClassifier(n_neighbors = 29)
X2 = scale(X)
classifier.fit(X2, y)
classifier.predict([X2[0,:], X2[155,:]])

array([1, 3])